---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import FrictionCards from '../components/FrictionCards.astro';
import PlannerSection from '../components/PlannerSection.astro';
import PlanIncludes from '../components/PlanIncludes.astro';
import PopularRoutes from '../components/PopularRoutes.astro';
import ProfessionalSupport from '../components/ProfessionalSupport.astro';
import SetupPackages from '../components/SetupPackages.astro';
import Footer from '../components/Footer.astro';
import PlanCta from '../components/PlanCta.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <FrictionCards />
    <PlannerSection />
    <PlanIncludes />
    <PopularRoutes />
    <ProfessionalSupport />
    <SetupPackages />
    <section class="section">
      <div class="container-page text-center">
        <PlanCta centered />
      </div>
    </section>
  </main>
  <Footer />
</Layout>
